<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="../fontawesome-free-6.1.1-web/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/coral.css">
    <title>CORAL</title>
</head>

<body>
    <div id="app">
        <div class="top-main">

            <header class="page">
                <!-- Begin header-top -->
                <div class="top-header">
                    <div class="search"><img src="../assets/icon/search.png" alt=""></div>
                    <div class="logo">CORAL</div>
                    <div class="shopping-account">
                        <div class="account">
                            <div class="account-icon"><img src="../assets/icon/user.png" alt=""></div>
                            <div class="account-text">Acount</div>
                        </div>
                        <div class="shopping">
                            <div class="shopping-icon"><img src="../assets/icon/shopping-bag.png" alt=""></div>
                            <div class="shopping-text">Shoping</div>
                        </div>
                    </div>
                </div>
                <!-- End header-top -->

                <div class="category">
                    <ul>
                        <li>Jewelry & Accessories</li>
                        <li>Clothing & Shoes</li>
                        <li>Home & Living</li>
                        <li>Wedding & Party</li>
                        <li>Toys & Entertainment</li>
                        <li>Art & Collectibles</li>
                        <li>Craft Supplies & Tools</li>
                    </ul>
                </div>
            </header>
            <!-- End Header -->

            <div class="product page">
                <div class="product-content">
                    <div class="product-content-title">Collections</div>
                    <div class="product-content-text">You Can Explore Ans Shop Many Differnt Collection From Various Barands Here.</div>
                    <div class="product-content-shopnow">
                        <div class="product-content-shopnow-icon">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </div>
                        <div class="product-content-shopnow-text">Shop Now</div>
                    </div>

                </div>
                <div class="product-img">
                    <div class="product-img-top"><img src="../assets/img/productimg.png" alt=""></div>
                    <div class="product-img-bot"><img src="../assets/icon/Rectangle 124.png" alt=""></div>
                </div>
            </div>

            <!-- End Product -->

        </div>

        <!-- End Top-main -->
        <div class="brand page">
            <div class="brand-img"><img src="../assets/img/brand-1.png" alt=""></div>
            <div class="brand-img"><img src="../assets/img/brand-5.png" alt=""></div>
            <div class="brand-img"><img src="../assets/img/brand-3.png" alt=""></div>
            <div class="brand-img"><img src="../assets/img/brand-4.png" alt=""></div>
            <div class="brand-img"><img src="../assets/img/brand-2.png" alt=""></div>
        </div>
        <!-- End Brand -->


        <div class="hot-category page">
            <div class="hot-category-first">
                <div class="hot-category-first-text">EXPLORE NEW AND POPULAR STYLES</div>

                <img src="../assets/img/free ecommerce minimal template (Community)/image-category-1.png" alt="">
            </div>
            <div class="hot-category-second">
                <div class="hot-category-second-img"> <img src="../assets/img/free ecommerce minimal template (Community)/image-category-2.png" alt=""></div>
                <div class="hot-category-second-img"> <img src="../assets/img/free ecommerce minimal template (Community)/image-category-3.png" alt=""></div>
                <div class="hot-category-second-img"> <img src="../assets/img/free ecommerce minimal template (Community)/image-category-4.png" alt=""></div>
                <div class="hot-category-second-img"> <img src="../assets/img/free ecommerce minimal template (Community)/image-category-5.png" alt=""></div>
            </div>

        </div>

        <div class="grid-category page">
            <div class="grid-category-content">New Products</div>
            <div class="grid-category-nav">
                <div class="grid-category-nav-topnav">
                    <div class="grid-category-nav-topnav-item">All Products</div>
                    <div class="grid-category-nav-topnav-item">T-Shirt</div>
                    <div class="grid-category-nav-topnav-item">Hoodies</div>
                    <div class="grid-category-nav-topnav-item">Jacket</div>

                </div>
                <div class="grid-category-nav-filter">
                    <div class="grid-category-nav-filter-icon"><img src="../assets/icon/filter.png" alt=""></div>
                    <div class="grid-category-nav-filter-text">Filter</div>
                </div>

            </div>
            <div class="grid-category-products">

                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p1.png" alt="">
                        <div class="grid-category-products-item-img-buy">
                            <div class="buy-left">
                                <div class="heart"><i class="fa-solid fa-heart"></i></div>
                                <div class="search"><i class="fa-solid fa-magnifying-glass"></i></div>
                            </div>
                            <div class="buy-right">
                                <div class="bag"><i class="fa-solid fa-bag-shopping"></i></div>
                                <div class="shopnow">Shop Now</div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-category-products-item-name">Adicolor Classics Jogger</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Dress</div>
                        <div class="price">
                            <div class="pricenow">$63.85</div>
                            <div class="pricenew"></div>

                        </div>

                    </div>

                </div>

                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p2.png" alt="">
                    </div>
                    <div class="grid-category-products-item-name">Nike Sportswear Futura Luxe</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Bag</div>
                        <div class="price">
                            <div class="pricenow">$130.00</div>
                            <div class="pricenew"></div>

                        </div>

                    </div>

                </div>

                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p3.png" alt="">
                    </div>
                    <div class="grid-category-products-item-name">Geometric print Scarf</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Scarf</div>
                        <div class="price">
                            <div class="pricenow">$53.00</div>
                            <div class="pricenew"></div>

                        </div>

                    </div>

                </div>

                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p4.png" alt="">
                        <div class="deal">
                            <div class="sale">SALE</div>

                        </div>
                    </div>
                    <div class="grid-category-products-item-name">Yellow Reserved Hoodie</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Dress</div>
                        <div class="price">
                            <div class="pricenow linetext">$364.00</div>
                            <div class="pricenew">$155.00</div>

                        </div>

                    </div>

                </div>

                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p5.png" alt="">
                        <div class="deal">
                            <div class="hot">HOT</div>

                        </div>
                    </div>
                    <div class="grid-category-products-item-name">Basic Dress Green</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Dress</div>
                        <div class="price">
                            <div class="pricenow">$236.00</div>
                            <div class="pricenew"></div>

                        </div>

                    </div>

                </div>

                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p6.png" alt="">
                        <div class="deal">
                            <div class="sale">SALE</div>

                        </div>
                    </div>
                    <div class="grid-category-products-item-name">Nike Air Zoom Pegasus</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Shoe</div>
                        <div class="price">
                            <div class="pricenow linetext">$220.00</div>
                            <div class="pricenew">$198.00</div>

                        </div>

                    </div>

                </div>

                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p7.png" alt="">
                    </div>
                    <div class="grid-category-products-item-name">Nike Repel Miler</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Dress</div>
                        <div class="price">
                            <div class="pricenow">$120.50</div>
                            <div class="pricenew"></div>

                        </div>

                    </div>

                </div>
                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p8.png" alt="">
                    </div>
                    <div class="grid-category-products-item-name">Polarised Sunglasses</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Glasses</div>
                        <div class="price">
                            <div class="pricenow">$160.00</div>
                            <div class="pricenew"></div>

                        </div>

                    </div>

                </div>
            </div>


        </div>
        <div class="brand-banner">
            <img src="../assets/img/andrey-zvyagintsev-EQj1ZMpq_VM-unsplash 1.png" alt="">
            <div class="brand-banner-bg">
                <img src="../assets/img/1024px-Zara_Logo 1.png" alt="">
            </div>
            <div class="brand-banner-content">
                <div class="brand-banner-content-logo"><img src="../assets/img/1024px-Zara_Logo 2.png" alt=""></div>
                <div class="brand-banner-content-text">Lustrous Yet Understated. The New Evening Wear Collection Exclusively Offered At The Reopened Giorgio Armani Boutique In Los Angeles.</div>
                <div class="brand-banner-content-seecollection">See Collection</div>

            </div>
        </div>

        <div class="grid-category page">
            <div class="grid-category-content">Best sellers</div>
            <div class="grid-category-nav">
                <div class="grid-category-nav-topnav">
                    <div class="grid-category-nav-topnav-item">All Products</div>
                    <div class="grid-category-nav-topnav-item">T-Shirt</div>
                    <div class="grid-category-nav-topnav-item">Hoodies</div>
                    <div class="grid-category-nav-topnav-item">Jacket</div>

                </div>
                <div class="grid-category-nav-filter">
                    <div class="grid-category-nav-filter-icon"><img src="../assets/icon/filter.png" alt=""></div>
                    <div class="grid-category-nav-filter-text">Filter</div>
                </div>

            </div>
            <div class="grid-category-products">
                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p5.png" alt="">
                        <div class="deal">
                            <div class="hot">HOT</div>

                        </div>
                    </div>
                    <div class="grid-category-products-item-name">Basic Dress Green</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Dress</div>
                        <div class="price">
                            <div class="pricenow">$236.00</div>
                            <div class="pricenew"></div>

                        </div>

                    </div>

                </div>


                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p2.png" alt="">
                    </div>
                    <div class="grid-category-products-item-name">Nike Sportswear Futura Luxe</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Dress</div>
                        <div class="price">
                            <div class="pricenow">$130.00</div>
                            <div class="pricenew"></div>

                        </div>

                    </div>

                </div>
                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p4.png" alt="">
                        <div class="deal">
                            <div class="sale">SALE</div>
                        </div>
                    </div>
                    <div class="grid-category-products-item-name">Polarised Sunglasses</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Dress</div>
                        <div class="price">
                            <div class="pricenow linetext">$364.00</div>
                            <div class="pricenew">$155.00</div>
                        </div>
                    </div>
                </div>
                <div class="grid-category-products-item">
                    <div class="grid-category-products-item-img">
                        <img src="../assets/img/free ecommerce minimal template (Community)/p6.png" alt="">
                        <div class="deal">
                            <div class="sale">SALE</div>

                        </div>
                    </div>
                    <div class="grid-category-products-item-name">Nike Air Zoom Pegasus</div>
                    <div class="grid-category-products-item-course">
                        <div class="modal">Shoe</div>
                        <div class="price">
                            <div class="pricenow linetext">$220.00</div>
                            <div class="pricenew">$198.00</div>

                        </div>

                    </div>

                </div>
            </div>


        </div>
        <div class="instagram-full">
            <div class="instagram page">
                <div class="instagram-title">Follow Products And Discounts On Instagram</div>
                <div class="instagram-lists">
                    <div class="instagram-lists-item"><img src="../assets/img/free ecommerce minimal template (Community)/i03 1.png" alt=""></div>
                    <div class="instagram-lists-item"><img src="../assets/img/free ecommerce minimal template (Community)/i011 1.png" alt=""></div>
                    <div class="instagram-lists-item"><img src="../assets/img/free ecommerce minimal template (Community)/i07 1.png" alt=""></div>
                    <div class="instagram-lists-item bg-opacity">
                        <img src="../assets/img/free ecommerce minimal template (Community)/i012 1.png" alt="">
                        <div class="opacity">
                            <img src="../assets/icon/instagram.png" alt="">
                        </div>
                    </div>
                    <div class="instagram-lists-item"><img src="../assets/img/free ecommerce minimal template (Community)/i014 1.png" alt=""></div>
                    <div class="instagram-lists-item"><img src="../assets/img/free ecommerce minimal template (Community)/i02 1.png" alt=""></div>

                </div>
                <div class="instagram-text">Or Subscribe To The Newsletter</div>
                <div class="instagram-form">
                    <input class="input" type="text" placeholder="Email Adress...">
                    <button>SUBMIT</button>
                </div>

            </div>
        </div>
        <footer>
            <div class="top-footer page">
                <div class="top-footer-left">
                    <div class="top-footer-left-logo">CORAL</div>
                    <div class="top-footer-left-text">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua</div>
                    <div class="top-footer-left-social">
                        <img src="../assets/icon/facebook.png" alt="">
                        <img src="../assets/icon/twitter.png" alt="">
                        <img src="../assets/icon/linkedin.png" alt="">
                        <img src="../assets/icon/basketball.png" alt="">

                    </div>

                </div>
                <div class="top-footer-right">
                    <div class="top-footer-right-item">
                        <div class="top-footer-right-item-title">CATALOG</div>
                        <div class="top-footer-right-item-text">Necklaces</div>
                        <div class="top-footer-right-item-text">Hoodies</div>
                        <div class="top-footer-right-item-text">Jewelry Box</div>
                        <div class="top-footer-right-item-text">T-shirt</div>
                        <div class="top-footer-right-item-text">Jacket</div>
                    </div>
                    <div class="top-footer-right-item">
                        <div class="top-footer-right-item-title">ABOUT US</div>
                        <div class="top-footer-right-item-text">Our Producers</div>
                        <div class="top-footer-right-item-text">Sitemap</div>
                        <div class="top-footer-right-item-text">FAQ</div>
                        <div class="top-footer-right-item-text">About Us</div>
                        <div class="top-footer-right-item-text">Terms & Conditions</div>
                    </div>
                    <div class="top-footer-right-item">
                        <div class="top-footer-right-item-title">CUSTOMER SERVICES</div>
                        <div class="top-footer-right-item-text">Contact Us</div>
                        <div class="top-footer-right-item-text">Track Your Order</div>
                        <div class="top-footer-right-item-text">Product Care & Repair</div>
                        <div class="top-footer-right-item-text">Book an Appointment</div>
                        <div class="top-footer-right-item-text">Shipping & Returns</div>
                    </div>
                </div>

            </div>
            <div class="bottom-footerfull">
                <div class="bottom-footer page">
                    <div class="bottom-footer-item1">© 2022 Coral , Inc</div>
                    <div class="bottom-footer-item2"><img src="../assets/icon/icons_payment 1.png" alt=""></div>
                    <div class="bottom-footer-item3">
                        <div class="bottom-footer-item3-text">
                            Scroll to top
                        </div>
                        <div class="bottom-footer-item3-icon">
                            <img src="../assets/icon/top.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</body>

</html>